.tmpl-gare {
    .select-date {
        text-align: center;
        padding: 2.62em;

        label {
            color: #fff;
            font-size: .8em;
            font-weight: 600;
            text-transform: uppercase;
            padding: 0 3em;
            letter-spacing: .1em;
            display: inline-block;
        }
    }
}