.tmpl-gare {
    margin: auto;

    &>div {
        max-width: 100%;
    }

    .select-date {
        text-align: center;
        padding: 2.62em;

        label {
            color: #fff;
            font-size: .8em;
            font-weight: 600;
            text-transform: uppercase;
            padding: 0 3em;
            letter-spacing: .1em;
            display: inline-block;
        }

        &::after {
            content: '';
            border: 4px solid transparent;
            border-radius: 50%;
            width: 100%;
            height: 100%;
            width: 50px;
            height: 50px;
            display: block;
            top: -3px;
            z-index: 0;
            left: -1px;
            margin: 0.62em auto;
        }

        &.active::after {
            border-color: rgba(240, 178, 3, 0.4);
            border-top-color: #f0b203;
            -webkit-transform: rotate(1080deg);
            transform: rotate(1080deg);
            -webkit-transition-property: -webkit-transform;
            transition-property: transform;
            -webkit-transition-duration: 5000ms;
            transition-duration: 5000ms;
        }
    }

    #gare {
        h2 {
            color: #000;
            font-size: 1.5em;
            text-transform: uppercase;
            line-height: 1.2em;
            letter-spacing: 0.1em;
            text-align: center;
            margin: 2rem;

            &:after {
                content: "";
                background-color: #f0b203;
                height: 4px;
                width: 50px;
                display: block;
                margin: 25px auto;
                margin-left: 0;
            }
        }

        .listCompetitionContainer {
            padding-bottom: 30px;
            transition-property: opacity;
            transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
            transition-duration: 600ms;

            &.disabled {
                opacity: 0;
            }
        }

        .gara {
            background-color: #fff;
            margin: 2em auto;
            border-bottom: 4px solid #f0b203;
            box-sizing: border-box;

            &.first {
                border-color: #bc2b0a;

                h2 {
                    &:after {
                        background-color: #bc2b0a;
                    }
                }

                footer .social-links .liContainer li {
                    background-color: #bc2b0a;
                }
            }

            .textSection {
                padding: 2.62em;
                border-bottom: 1px solid #e9e4de;
            }

            .content-gara {
                p {
                    font-weight: 300;
                    font-size: 1em;
                    letter-spacing: 0.05em;
                    line-height: 2em;
                }
            }

            footer {
                padding: 0.62em 1.62em;
                margin: 0;
                border: 0;
                font: inherit;
                vertical-align: baseline;

                .social-links {
                    padding: 0;
                    list-style: none;
                    margin: 0;
                    overflow-wrap: break-word;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 40px;

                    .liContainer {
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        margin: .5em 0;
                        cursor: pointer;
                        // width: 49%;

                        @media screen and (min-width: 992px) {
                            // width: 20%;
                            margin: 1em 0;
                        }

                        li {
                            color: #fff;
                            background: #f0b203;
                            position: relative;
                            width: 3em;
                            height: 3em;
                            line-height: 3em;
                            border-radius: 50%;
                            display: inline-block;
                            text-align: center;
                            white-space: nowrap;
                            // vertical-align: middle;

                            a {
                                display: block;
                                text-indent: -999em;
                                overflow: hidden;
                            }

                            &.disabled {
                                background-color: #a1a1a1;
                            }

                        }

                        span {
                            color: #bc2b0a;
                            letter-spacing: .05em;
                            font-size: .9em;
                            // padding: 0 1.5em;
                            margin: 0;
                            border: 0;
                            font: inherit;
                            vertical-align: baseline;
                            white-space: nowrap;
                        }
                    }

                    li {
                        &:not(.disabled) a::after {
                            content: '';
                            display: block;
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                            position: absolute;
                            left: 0;
                            top: 0;
                            background: #bc2b0a;
                            z-index: 0;
                            transform: scale(0);
                            opacity: 0;
                            transition-property: transform, opacity;
                            transition-duration: 1.5s;
                            transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
                        }

                        &:hover a::after {
                            transform: scale(1);
                            opacity: 1;
                            transition-duration: .5s;
                        }
                    }
                }
            }
        }
    }
}

html:has(body.request-panel-open) {
    // overflow: hidden !important;
}

body {
    #request-panel {
        h3 {
            font-size: .9em;
            padding-top: 3em;
            color: #691a0f;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            line-height: 1.2em;
        }
    }

    &.page-template-gare {
        #request-panel {
            background-color: #fff;
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            z-index: 102;
            // opacity: 0;
            overflow: auto;
            width: 100%;
            transform: translatex(-100%);
            transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
            transition-duration: 400ms;
            transition-property: transform;


            @media screen and (min-width: 768px) {
                width: 40rem;
            }

            .close {
                position: absolute;
                top: 120px;
                right: 20px;
                height: 40px;
                width: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transform: translatex(0) rotate(45deg);

                &::before,
                &::after {
                    content: "";
                    height: 2px;
                    background: #898989;
                    width: 24px;
                    display: block;
                    position: absolute;
                }

                &::after {
                    transform: rotate(90deg);
                }
            }

            .panel-container {
                padding: 8px;
                padding-top: 160px !important;

                @media screen and (min-width: 768px) {
                    padding: 2em;
                }
            }
        }

        .overlay {
            transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
            transition-duration: 400ms;

            display: block;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            overflow: hidden;
            background-color: transparent;
            // z-index: -1;
            transition-property: background;
        }

        &.request-panel-open {
            .overlay {
                z-index: 101;
                /* background-color: rgba(255,255,255,.8); */
                background-color: rgba(0, 0, 0, 0.6);
                overflow: auto;
            }

            #request-panel {
                transform: translatex(0);
                // z-index: 102;
                // opacity: 1;
            }
        }

        .table {
            margin: 2.62em auto;
            display: block;

            .thead {
                background-color: #f0b203;
                text-align: center;

                .tr {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-around;
                    padding: 0; // 0.62em;

                    .th {
                        span {
                            font-size: .8em;
                            line-height: 1;
                        }
                    }
                }
            }

            .tbody {
                border-top: 0;
                padding: 0;

                .tr {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-around;
                    align-items: stretch;
                    padding: 0 0.62em;
                    box-sizing: border-box;

                    .td {
                        text-align: center;
                        font-size: .85em;
                        line-height: 1;

                        span {
                            a {
                                color: #bc2b0a;
                            }
                        }

                        &:nth-child(1) {
                            border-left: 0 !important;
                        }
                    }

                    &:nth-child(odd) {
                        background-color: transparent;

                        .td {
                            border-left: 2px solid #e9e4de;
                        }
                    }

                    &:nth-child(even) {
                        background-color: #e9e4de;

                        .td {
                            border-left: 2px solid #fff;
                        }
                    }
                }
            }

            &.classifica-squadre {
                width: 100%;
                margin-left: 0;

                .thead {
                    .tr {
                        .th {
                            &:nth-child(1) {
                                width: 20%;
                            }

                            &:nth-child(2) {
                                width: 34%;
                            }

                            &:nth-child(3) {
                                width: 10%;
                            }
                        }
                    }
                }

                .tbody {
                    .tr {
                        .td {
                            &:nth-child(1) {
                                width: 20%;
                            }

                            &:nth-child(2) {
                                width: 34%;
                            }

                            &:nth-child(3) {
                                width: 10%;
                            }
                        }
                    }
                }
            }

            &.classifica-singola {
                .thead {
                    .tr {
                        .th {
                            &:nth-child(1) {
                                width: 6%;
                            }

                            &:nth-child(2) {
                                width: 23%;
                            }

                            &:nth-child(3) {
                                width: 23%;
                            }

                            &:nth-child(4) {
                                width: 8%;
                            }

                            &:nth-child(5) {
                                width: 8%;
                            }

                            &:nth-child(6) {
                                width: 10%;
                            }

                            @media screen and (max-width: 550px) {
                                &:nth-child(1) {
                                    width: 4%;
                                }

                                &:nth-child(4),
                                &:nth-child(5),
                                &:nth-child(6) {
                                    width: 5%;
                                }

                                &:nth-child(2),
                                &:nth-child(3) {
                                    width: 24%;
                                }
                            }
                        }
                    }
                }

                .tbody {
                    .tr {
                        // .td:nth-child(1) {
                        //     width: 6%;
                        // }
                        // .td:nth-child(4), .td:nth-child(5), .td:nth-child(6) {
                        //     width: 10%;
                        //     border: none;
                        //     flex: 1 auto;
                        // }
                        // .td:nth-child(2), .td:nth-child(3) {
                        //     width: 27%;
                        //     flex: 2 auto;
                        // }

                        .td {
                            &:nth-child(1) {
                                width: 6%;
                            }

                            &:nth-child(2) {
                                width: 23%;
                            }

                            &:nth-child(3) {
                                width: 23%;
                            }

                            &:nth-child(4) {
                                width: 8%;
                            }

                            &:nth-child(5) {
                                width: 8%;
                            }

                            &:nth-child(6) {
                                width: 10%;
                            }

                            @media screen and (max-width: 550px) {
                                &:nth-child(1) {
                                    width: 4%;
                                }

                                &:nth-child(4),
                                &:nth-child(5),
                                &:nth-child(6) {
                                    width: 5%;
                                }

                                &:nth-child(2),
                                &:nth-child(3) {
                                    width: 24%;
                                }
                            }
                        }
                    }
                }
            }

            &.classifica-eclettica {}

            // --- ORARI ---
            &.orari-gara {
                .thead {
                    .tr {
                        .th {
                            &:nth-child(1) {
                                width: 34%;
                            }
                            &:nth-child(2) {
                                width: 45%;
                            }
                            // @media screen and (min-width: 640px) {
                            //     &:nth-child(1) {
                            //         width: 34%;
                            //     }
                            //     &:nth-child(2) {
                            //         width: 45%;
                            //     }
                            // }
                        }
                    }
                }
                .tbody {
                    .tr {
                        .td {
                            &:nth-child(1) {
                                width: 14%;
                            }
                            &:nth-child(2) {
                                width: 10%;
                            }
                            &:nth-child(3) {
                                width: 55%;
                            }
                            @media screen and (min-width: 640px) {
                                &:nth-child(1) {
                                    width: 20%;
                                }
                                &:nth-child(2) {
                                    width: 10%;
                                }
                                &:nth-child(3) {
                                    width: 60%;
                                }
                            }
                        }
                    }
                }
            }

            &.handicap-gara {
                .thead {
                    .tr {
                        .th {
                            &:nth-child(1) {
                                width: 26%;
                            }
                            &:nth-child(2) {
                                width: 25%;
                            }
                            &:nth-child(3), &:nth-child(4), &:nth-child(5) {
                                width: 8%;
                            }
                        }
                    }
                }
                .tbody {
                    .tr {
                        .td {
                            &:nth-child(1) {
                                width: 24%;
                            }
                            &:nth-child(2) {
                                width: 27%;
                            }
                            &:nth-child(3), &:nth-child(4), &:nth-child(5) {
                                width: 7%;
                            }
                            // @media screen and (min-width: 640px) {
                            //     &:nth-child(1) {
                            //         width: 20%;
                            //     }
                            //     &:nth-child(2) {
                            //         width: 10%;
                            //     }
                            //     &:nth-child(3) {
                            //         width: 60%;
                            //     }
                            // }
                        }
                    }
                }
            }
        }

    }

}